

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
font-family: OSP-DIN;
src: url(../fonts/OSP-DIN.ttf);
}

@font-face {
font-family: SourceSansPro-Bold;
src: url(../fonts/source-pro-sans/SourceSansPro-Bold.ttf);
}

@font-face {
font-family: SourceSansPro-SemiBold;
src: url(../fonts/source-pro-sans/SourceSansPro-SemiBold.ttf);
}

@font-face {
font-family: SourceSansPro-Light;
src: url(../fonts/source-pro-sans/SourceSansPro-Light.ttf);
}



body {
  min-width: 1080px;
}

h1 {
  font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 60px;
}


h3 {
  font-family: "SourceSansPro-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 40px;
}

p {
  font-family: "SourceSansPro-Light", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.label-color {
  color: #5e5e5e;
}

.container {
   width: 1080px;
   max-width: none !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container.header {
  position: relative;
  height: 45px;
  margin-bottom: 50px;
  left: -2px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(94,94,94, 0.4);
  -moz-box-shadow: 0 4px 2px -2px rgba(94,94,94, 0.4);
  box-shadow: 0 4px 2px -2px rgba(94,94,94, 0.4);
}

.col-xs-2.header {
  position: relative;
  height: 38px;
  border-bottom: 3px solid #00a9a4;
}

.col-xs-10.header {
  height: 38px;
  border-bottom: 3px solid #00a9a4;
  left: 0px;
}

.logo img {
  position: absolute;
  width: 120px;
  left: 0px;
}

/*Column Seperators*/
#viva-col-1, #viva-col-2, #viva-col-3, #viva-col-4, #viva-col-5, #viva-col-6  {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: -5px 0px 4px -2px rgba(94,94,94, 0.2);
  -moz-box-shadow: -5px 0px 4px -2px rgba(94,94,94, 0.2);
  box-shadow: -5px 0px 4px -2px rgba(94,94,94, 0.2);
}

.col-xs-2.content {
  height: 600px;
}

.box-small {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 0px;
}

.box-big {
  position: absolute;
  width: 180px;
  height: 360px;
  left: 0px;
}

.box-text-small {
  position: absolute;
  padding: 10px;
  left: 0px;
  font-family: "SourceSansPro-Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
/*  text-align: justify;*/
}

.box-xsmall-top {
  position: absolute;
  width: 180px;
  height: 130px;
  left: 0px;
}

#box-col-1 {
 top: 310px;
 background: #00a9a4;
}

#text-col-1 {
  top:130px;
  color: #5e5e5e;
}

#box-col-2-1 {
 top: 130px;
 background: #f58359;
}

#box-col-2-1:hover {
 background: #5e5e5e;
}

#box-col-2-2 {
 top: 310px;
 background: #f58359;
}

#text-col-2 {
  top: 0px;
  color: #fff;
}

#box-col-3 {
 top: 130px;
 background: #f8b14b;
}

#box-col-3:hover {
 background: #5e5e5e;
}

#text-col-3 {
  top: 310px;
  color: #5e5e5e;
}

#box-col-4 {
 top: 130px;
 background: #00a9a4;
}

#text-col-4 {
  top: 0px;
  color: #fff;
}

#box-col-5-1 {
 top: 130px;
 background: #f58359;
}

#text-col-5 {
  top: 0px;
  color: #fff;
}

#box-col-5-2 {
 top: 310px;
 background: #f58359;
}

#box-col-5-2:hover {
 top: 310px;
 background: #5e5e5e;
}

#box-col-6-1 {
 top: 130px;
 background: #00a9a4;
}

#box-col-6-1:hover {
 background: #5e5e5e;
}

#box-col-6-2 {
 top: 310px;
 background: #fcb54e;
}

#text-col-6 {
  top: 0px;
  color: #fff;
}

#atom {
  width: 150px;
  margin-top: 15px;
  margin-left: 15px;
}

#clipboard {
  width: 120px;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

#stethoscope {
  width: 120px;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

#workhard {
  width: 110px;
  margin-top: 210px;
  margin-left: 35px;
}

#team {
  width: 120px;
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}

#contact {
  width: 100px;
  margin-top: 40px;
  margin-left: 40px;
  cursor: pointer;
}

/*Contact Page*/

#contact-header {
  margin-bottom: 10px;
}

#contact-header h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 42px;
  color: #5e5e5e;
}

#contact-header p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #5e5e5e;
}

.center-right {
  float: right;
}

.contact-info {
  padding-left: 80px;
}

.contact-info p {
  margin: 0;
  color: #5e5e5e;
}

.address-labels {
  padding-top: 15px;
  font-family: "SourceSansPro-SemiBold", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

#company-num {
  font-size: 14px;
}

/*Team Page*/

.container.team {
}

#team-header {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color:#5e5e5e;
}

#team-text {
  text-align: center;
  color:#5e5e5e;
}

.row-mt-sm {
  margin-top: 40px;
}

.portraits-wrap {
  padding: 0;
  text-align: center;
}

.portraits {
  width: 270px;
  height: 378px;
  left: 0px;
  cursor: pointer;
}

.hover-state {
  padding: 0;
  width: 270px;
  height: 378px;
  opacity: 0;
  background: rgba(0,0,0,.5);
  text-align: center;
}

.hover-state h3 {
  padding-top: 300px;
  margin: 0px;
  color: #fff;
/*  text-align: justify;*/
}

.portraits:hover > .hover-state {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.rozze {
  background-image: url('../img/portraits/rozze_sq.png');
}

.chalak {
  background-image: url('../img/portraits/chalak_sq.png');
}

.michaela {
  background-image: url('../img/portraits/michaela_sq.png');
}

.masud {
  background-image: url('../img/portraits/masud_sq.png');
}











